.contact__wrapper {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    text-shadow: var(--text-shadow);
    color: var(--main-text-color);
    padding: 0 50px;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.contact__desc,
.contact__form {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 80px;
    height: 50vh;
    border: 4px solid var(--main-text-color);
    box-shadow: 0px 0px 10px var(--main-text-color);
}

.contact__desc {
    justify-content: space-between;
}

.contact__desc-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact__image {
    align-self: center;
    height: 200px;
    aspect-ratio: 72 / 115;
    filter: drop-shadow(0 0 5px #FFB800);
}

.contact__form-title {
    margin-bottom: 20px;
    text-align: center;
}

.contact__form-fields {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.contact__form-label {
    font-size: 1.6rem;
}

.contact__form-field {
    background-color: transparent;
    border: 2px solid var(--main-text-color);
    color: var(--main-text-color);
    padding: 10px 8px;
    transition: all .4s;
}

.contact__form-field:focus {
    box-shadow: 0px 0px 10px var(--main-text-color);
    outline: none;
}

.contact__form-fields:last-of-type {
  margin-bottom: 30px;
}

.contact__form-submit {
    background-color: var(--main-text-color);
    border: none;
    color: var(--main-background-color);
    font-size: 3rem;
    padding: 10px 30px;
    transition: all .4s;
}

.contact__form-submit:hover {
    background-color: transparent;
    color: var(--main-text-color);
    outline: 2px solid var(--main-text-color);
    cursor: url('../../../assets/img/falloutNW.cur'), pointer;
}